
/* Define default spinner */
.ui-icon-loading {
	background: url("files/resources/lib/jquerymobile/1.3.2/images/ajax-loader.gif") repeat scroll 0 0 / 46px 46px transparent!important;
}
/* mobilebutton_16 */
#GreenButtonDataPage_mobilebutton_16 {

}
.ui-btn.GreenButtonDataPage_mobilebutton_16 {

}
/* mobilecontainer */
.ui-content.GreenButtonDataPage_mobilecontainer {
	padding: 15px 15px 15px 15px;
}
/* mobilegrid_2 */
.GreenButtonDataPage_mobilegrid_2 {
	height: auto;
	width:100%;
	margin: 4px 0px 4px 0px;
	border-collapse: collapse;
	table-layout: fixed;
}
.GreenButtonDataPage_mobilegrid_2 > tr > td {
	vertical-align: top;
}
.GreenButtonDataPage_mobilegrid_2_row_0, .GreenButtonDataPage_mobilegrid_2_row_0 > td {
	height: 30px
}
.GreenButtonDataPage_mobilegrid_2_row_1, .GreenButtonDataPage_mobilegrid_2_row_1 > td {
	height: 30px
}
/* mobilegridcell_3 */
.GreenButtonDataPage_mobilegridcell_3 {
	height:30px !important;
	width:auto;
	padding: 2px 2px 2px 2px;
}
.GreenButtonDataPage_mobilegridcell_3 > .cell-wrapper {
	padding: 0;
	margin: 0;
}
/* mobilelabel_7 */
.GreenButtonDataPage_mobilelabel_7 {
	text-decoration: none; font-weight: bold; font-style: italic; color: #060c17; text-align: left; font-family: Helvetica; font-size: 16px;
	margin: 4px 0px 4px 0px;
	word-wrap: break-word;
}
/* mobilegridcell_4 */
.GreenButtonDataPage_mobilegridcell_4 {
	height:30px !important;
	width:auto;
	padding: 2px 2px 2px 2px;
}
.GreenButtonDataPage_mobilegridcell_4 > .cell-wrapper {
	padding: 0;
	margin: 0;
}
/* mobilelabel_8 */
.GreenButtonDataPage_mobilelabel_8 {
	text-decoration: none; font-weight: bold; font-style: italic; color: #050d19; text-align: left; font-family: Helvetica; font-size: 16px;
	margin: 4px 0px 4px 0px;
	word-wrap: break-word;
}
/* mobilegridcell_5 */
.GreenButtonDataPage_mobilegridcell_5 {
	height:30px !important;
	width:auto;
	padding: 2px 2px 2px 2px;
}
.GreenButtonDataPage_mobilegridcell_5 > .cell-wrapper {
	padding: 0;
	margin: 0;
}
/* mobilegridcell_6 */
.GreenButtonDataPage_mobilegridcell_6 {
	height:30px !important;
	width:auto;
	padding: 2px 2px 2px 2px;
}
.GreenButtonDataPage_mobilegridcell_6 > .cell-wrapper {
	padding: 0;
	margin: 0;
}
/* mobilegrid_11 */
.GreenButtonDataPage_mobilegrid_11 {
	height: auto;
	width:100%;
	margin: 4px 0px 4px 0px;
	border-collapse: collapse;
	table-layout: fixed;
}
.GreenButtonDataPage_mobilegrid_11 > tr > td {
	vertical-align: top;
}
.GreenButtonDataPage_mobilegrid_11_row_0, .GreenButtonDataPage_mobilegrid_11_row_0 > td {
	height: 30px
}
.GreenButtonDataPage_mobilegrid_11_row_1, .GreenButtonDataPage_mobilegrid_11_row_1 > td {
	height: 30px
}
/* mobilegridcell_12 */
.GreenButtonDataPage_mobilegridcell_12 {
	height:30px !important;
	width:auto;
	padding: 2px 2px 2px 2px;
}
.GreenButtonDataPage_mobilegridcell_12 > .cell-wrapper {
	padding: 0;
	margin: 0;
}
/* IntervalInputlabel */
.GreenButtonDataPage_IntervalInputlabel {
	text-decoration: none; font-weight: normal; font-style: italic; text-align: left; font-family: Helvetica; font-size: 16px;
	margin: 4px 0px 4px 0px;
	word-wrap: break-word;
}
/* mobilegridcell_13 */
.GreenButtonDataPage_mobilegridcell_13 {
	height:30px !important;
	width:auto;
	padding: 2px 2px 2px 2px;
}
.GreenButtonDataPage_mobilegridcell_13 > .cell-wrapper {
	padding: 0;
	margin: 0;
}
/* Unitslabel */
.GreenButtonDataPage_Unitslabel {
	text-decoration: none; font-weight: normal; font-style: italic; text-align: left; font-family: Helvetica; font-size: 16px;
	margin: 4px 0px 4px 0px;
	word-wrap: break-word;
}
/* mobilegridcell_14 */
.GreenButtonDataPage_mobilegridcell_14 {
	height:30px !important;
	width:auto;
	padding: 2px 2px 2px 2px;
}
.GreenButtonDataPage_mobilegridcell_14 > .cell-wrapper {
	padding: 0;
	margin: 0;
}
/* mobilegridcell_15 */
.GreenButtonDataPage_mobilegridcell_15 {
	height:30px !important;
	width:auto;
	padding: 2px 2px 2px 2px;
}
.GreenButtonDataPage_mobilegridcell_15 > .cell-wrapper {
	padding: 0;
	margin: 0;
}
/* mobilefooter */
.GreenButtonDataPage_mobilefooter {
	min-height:38px;
}